# Database Settings
DB_PASSWORD=YourStrong!Passw0rd

# API Settings (These will override appsettings.json)
Jwt__Key=your_very_long_and_secure_jwt_secret_key_here
Jwt__Issuer=GhostTrickApi
Jwt__Audience=GhostTrickUsers
Jwt__AccessTokenExpiryMinutes=60
Jwt__RefreshTokenExpiryDays=30

Cloudinary__CloudName=your_cloudinary_name
Cloudinary__ApiKey=your_cloudinary_api_key
Cloudinary__ApiSecret=your_cloudinary_api_secret

Email__Username=ghosttrickvn@gmail.com
Email__Password=your_email_app_password

# Google Auth
Google__ClientId=your_google_client_id

# Frontend Settings
# When deploying to a real domain, change localhost to your actual domain name
VITE_API_URL=http://localhost/api
